---
layout: default
title: Archives
---
<div class="archives">
  <h2>Archives</h2>
  {% assign posts_by_year = site.posts | group_by: "date" | sort: "name" | reverse %}
  {% for year_group in posts_by_year %}
    {% assign year = year_group.name | date: "%Y" %}
    <div class="archive-year">
      <button class="archive-year-toggle">{{ year }}</button>
      <div class="archive-months" style="display: none;">
        {% assign posts_by_month = year_group.items | group_by_exp: "post", "post.date | date: '%B'" %}
        {% for month_group in posts_by_month %}
          <div class="archive-month">
            <a href="#" class="month-title">{{ month_group.name }}</a>
            <ul class="month-posts">
              {% for post in month_group.items %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>


