<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}'s blog" href="/feed.rss">
    <link rel="icon" href="" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Times+New+Roman" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="container">
        <br /><br /><br />
        <div id="header">
          <a id="logo" href="/">{{ site.title }}</a>
          <a href="/" title="Home">Home</a>
          <a href="/now" title="Now">Now</a>
          <a href="/archives" title="Archives">Archives</a>
          <a href="/search" title="Search">Search</a>
        </div>
        <br /><br /><br />
        <div class="blog-post">
          {% if page.date %}
            <a href="{{ page.url }}" class="lightText">{{ page.date | date: "%B %-d, %Y" }}</a>
            <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
          {% endif %}
          {{ content }}
        </div>
        <br /><br /><br />
      </div>
    </div>
  </body>
</html>
